<?php

return array(
	'twilio' => [
		'sms' => [
			'account_sid' => 'xxx-xxx-xxx',
			'auth_token' => 'xxx-xxx-xxx'
		]
	],
	'messente' => [
		'sms' => [
			'to' => '+912233445555',
			'username' => 'xxx-xxx-xxx',
			'password' => 'xxx-xxx-xxx'
		]
	]
);
